
/* ------------------GLOBAL STYLING------------------ */
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    min-height: 100%;
    width: 100%;
}
    h1, h2, h3{
        margin: 0;
        padding: 0;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
    }
    p {
        margin: 0;
        padding: 0;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
    }



/* ------------------HEADER------------------ */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    background-color: #2D3940;
    color: white;

    min-height: 80px;
}

    div.headerLogo {
        /* border: 2px solid chocolate; */
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-self: center;

        padding-left: 5px;
    }
        #logoImg {
            filter: drop-shadow(-1px -1px 0.5px white);
            width: 60px;
            height: auto;
        }

        .headerLogo h1 {
            display: flex;
            align-items: center; 
        }


    nav {
        /* border: 2px solid chocolate; */
        display: flex;
        justify-content: space-between;
        gap: 60px;

        padding: 0px;
        margin: 0px;
    }

        nav a {
            /* border: 2px solid chocolate; */
            padding: 0px 10px 5px 0px;

            text-decoration: none;
            color: white;
            font-family: 'Inter', sans-serif;
        }
        nav a:hover {
            text-decoration: underline;
            color: chocolate;
        }

    /* --------@@@@----------HEADER MEDIA QUERIES 750px--------@@@@---------- */       

    @media only screen and (max-width: 750px) {
        header {
            flex-direction: column;
            align-items: center;
        }
        nav {
            margin: 5px 0px 0px 0px;
        }
        div.headerLogo {
            padding-top: 5px;
        }
        #logoImg {
            width: 40px;
            height: auto;
        }
    }
    /* --------@@@@----------HEADER MEDIA QUERIES 550px--------@@@@---------- */ 
    @media only screen and (max-width: 550px){    
        nav {
            flex-wrap: wrap;
            gap: 20px 60px;
        }
        nav a {
            padding-left: 5px;
        }
     }

    /* --------@@@@----------HEADER MEDIA QUERIES 510px--------@@@@---------- */ 

     @media only screen and (max-width: 510px){
        #logoImg {
            width: 35px;
            height: 35px;
        }
        div.headerLogo {
            padding: 10px 0px;
        }
     }

/* ------------------HEADING CONTACT US------------------ */
div.headingContainer {
    background-color: #D9D9D9;
    color: #2D3940;
    text-align: center;

    margin-top: 15px;

    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
}

    /* --------@@@@----------CONTACT CONTAINER DIV MEDIA QUERIES 510px--------@@@@---------- */ 

    @media only screen and (max-width: 510px) {
        div.headingContainer {
            min-height: 100px;
        }
    }


/* ------------------MAIN CONTAINER FOR CARDS------------------ */
div.cardContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 15px;
    flex-wrap: wrap;

    padding: 15px 0px;
    background-image: url(./images/background-image.png);

    min-height: calc(100vh - 355px);   
}


    /* ----------SIGN UP CARD---------- */
    div.signUpDiv {
        min-width: 400px;               
        min-height: 600px;           
   

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 18px;

        background-color: #5C6A73;
        color: #D9D9D9;
        border-radius: 5px;

        text-align: center;
    }

        .signUpDiv p {
            font-weight: 500;
            color: white;
        }
        #errorMessage {
            font-size: small;
            color: black;

            background-color: chocolate;
            border-radius: 5px;

            margin-bottom: -10px;
            padding: 0 10px;
        }

        input#nameInput, #emailInput, #messageInput {
            border: none;
            border-radius: 5px;

            padding: 10px;
            width: 80%;
        }
        ::placeholder {
            font-family: 'Inter', sans-serif;
            font-weight: 300;
            color: #2D3940
        }
        .signUpDiv button {
            border: 0.3px solid #2D3940;
            border-radius: 5px;

            padding: 10px;
            margin-top: 8px;
            width: 88%;

            background-color: #2D3940;
            color: white;

            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: medium;
        }
        .signUpDiv button:hover {
            border: 0.3px solid chocolate;
            border-radius: 5px;
            cursor: pointer;
        }
        .signUpDiv button:active {
            border: 1.5px solid chocolate;
            border-radius: 5px;
            transform: scale(0.98);
            
        }



    /* ----------ADDRESS CARD---------- */
    div.addressDiv {
        min-width: 400px;               
        min-height: 600px;               

        background-color: #2D3940;
        color: white;
        border-radius: 5px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

        div.detailBox {
            text-align: center;
            padding: 10px;
        }
        div.detailBox h3{
            padding-bottom: 20px;
        }
        div.detailBox p{
            padding-bottom: 10px;
            color: #D9D9D9;
        }
        div.detailBox a {
            padding-bottom: 10px;
            text-decoration: none;

            font-family: 'Inter', sans-serif;
            color: #D9D9D9;
        }
        div.detailBox a:hover {
            text-decoration: underline;
            color: chocolate;
        }
        #address p {
            padding-bottom: 10px;
            text-decoration: none;

            font-family: 'Inter', sans-serif;
            color: #D9D9D9;

            line-height: 30px;
        }
        #address p:hover {
            text-decoration: underline;
            color: chocolate;
        }
        span.material-symbols-outlined {
            padding-right: 5px;
        }
        .iconAndName {
            display: flex;
            justify-content: center;
            gap: 3px;
            align-items: flex-start;

            padding-right: 10px;
        }



    /* ----------MAP CARD---------- */
    div.googleMapDiv {
        min-width: 400px;               
        min-height: 600px;

        border-radius: 5px;
        border: 2px solid #5C6A73;
    }
    #map {
        min-width: 400px;               
        min-height: 600px;
        border-radius: 5px;
        filter:  hue-rotate(180deg) saturate(50%);   
    }

/* --------@@@@----------CARDS MEDIA QUERIES 1300px--------@@@@---------- */ 

    @media only screen and (max-width: 1300px) {
        div.signUpDiv {
            min-width: 300px;               
            min-height: 500px;
        }
        div.addressDiv {
            min-width: 300px;               
            min-height: 500px;
        }
        div.googleMapDiv {
            min-width: 300px;               
            min-height: 500px;
        }
        #map {
            min-width: 300px;               
            min-height: 500px;
        }
        div.headingContainer {
            height: 120px;
        }
        div.cardContainer {
        min-height: calc(100vh - 325px);
        }
    }



/* ------------------FOOTER------------------ */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    background-color: #2D3940;
    color: #D9D9D9;

    min-height: 80px;

    padding: 0px 5px;
}

    /* ----------SOCIAL MEDIA LINKS---------- */

    div.socialMediaLinks {
        display: flex;
        gap: 20px;
        align-items: center ;  
    }
    div.socialMediaLinks a:hover {
        filter: drop-shadow(1px 1px 0px chocolate);
    }

    footer p {
        font-size: x-small;
        color: white;
    }


    /* ----------LOGO---------- */
    .footerLogo {
        filter: drop-shadow(-1px -1px 0.5px white);
        width: 60px;
        height: auto;
    }

    /* --------@@@@----------FOOTER MEDIA QUERIES 550px--------@@@@---------- */ 
    @media only screen and (max-width: 550px) {
        .footerLogo {
            width: 45px;
        }
    }

    /* --------@@@@----------FOOTER MEDIA QUERIES 500px--------@@@@---------- */ 
    
    @media only screen and (max-width: 500px) {
    footer {
        flex-direction: column;
        justify-content: center;

        padding-bottom: 5px;
    }
    .footerLogo {
        display: none;
    }
    footer p {
        padding: 5px 0px;
    }
    div.socialMediaLinks {
        padding-top: 10px;
    }
}

/* -----******-----POP UP STYLING-----******----- */

    #modal {
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 200ms ease-in-out;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        padding: 10px 10px 20px 10px;

        min-width: 250px;               
        min-height: 150px; 

        background-image: url(./images/background-image.png);
        color: black;
        font-weight: bold;
        border: 5px solid chocolate;
        border-radius: 10px;

        z-index: 10;
    }
    #modal.active {
        transform: translate(-50%, -50%) scale(1);
    }
    .modal p {
        font-size: larger;
        font-weight: 500;

        text-align: center;

        padding: 5px 0px;
    }
    .bold {
        margin-bottom: 10px;
    }
    .modal span {
        /* border: 1px solid chocolate; */
        align-self: center;

        font-size: 65px;
        color: #2D3940;

        filter: drop-shadow(2px 2px white); 
    }
    .closeBtn {
        align-self: flex-end;

        margin: 5px 5px 0px 0px;

        cursor: pointer;
        border: none;
        outline: none;
        background: none;

        font-size: x-large;
    }
    #overlay {
        position: fixed;
        transition: 200ms ease-in-out;

        opacity: 0;
        background-color: #2D3940B3;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        pointer-events: none;
    }
    #overlay.active {
        opacity: 1;
        pointer-events: all;
    }
